body {
    background-color: #282c34; /* Dark grayish-blue */
    color: #fff; /* White text color for contrast */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

button {
    background-color: #4CAF50; /* Green background */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s;
}

#gravity {
    background-color: #4CAF50; /* Green background similar to buttons */
    color: white; /* White text for contrast */
    border: none; /* Removes default border */
    padding: 10px 20px; /* Consistent padding with buttons */
    border-radius: 12px; /* Rounded corners like buttons */
    cursor: pointer; /* Cursor pointer to indicate it's clickable */
}


#controls {
    margin-bottom: 10px;
}

#controls button {
    margin-right: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    cursor: pointer;
}

#controls button:hover {
    background-color: #367c39;
}

select {
    padding: 5px 10px;
    border-radius: 5px;
}

canvas {
    border: 1px solid #ccc;
}

@media (max-height: 500px) {
    body {
        align-items: flex-start; /* Align content to the top in short viewports */
    }
    #controls button, select {
        padding: 5px 10px; /* Slightly smaller padding in smaller viewports */
    }
}
